.wrapper {
  height: 108px;
}

.header {
  display: grid;
  grid-template-columns: 64px 1fr 150px;

  align-items: center;

  width: 100%;
  height: 96px;

  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.header > div {
  height: 96px;
}

.menuItem {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuItem:hover {
  background-color: #fff;
}

.first {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first:after {
  position: absolute;
  left: 64px;

  content: '';
  width: 1px;
  height: 64px;
  padding: 0;
  background-color: #d9d9d9;
}

.second {
  display: grid;
  grid-template-rows: 54px 42px;
  padding-left: 12px;
}

.second .title {
  line-height: 54px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.second .menu {
  width: auto;
  display: flex;
  height: 100%;
  color: #5f6368;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: 0;
}

.second .menu .menuItem {
  width: 128px;
  height: 42px;
  display: flex;
  column-gap: 4px;
  align-items: center;
  justify-content: center;
}

.second .menu .menuItem.active {
  background-color: #fff;
  border-radius: 4px 4px 0 0;
}

.third {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 96px;
  height: 54px;
  background-color: #ffd521;
  border-radius: 8px;
  border: none;
}

.button > div {
  padding: 2px 0;
}

.button > div:last-child {
  font-size: 12px;
}
