.container {
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 12px;
}

.container div,
.container label,
.container input,
.container textarea {
  box-sizing: border-box;
}

.loading,
.error {
  display: flex;
  justify-content: center;
}

.participantInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

.participantIcon {
  height: 25px;
}

.participantInfoContent {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.participantInfoContent:last-child {
  margin-right: 0px;
}
