.container {
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 12px;
}

.loading,
.error {
  display: flex;
  justify-content: center;
}
