.error {
  max-width: 320px;
  min-width: 280px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: #fff;
  color: var(--gray-d);
  border-radius: 8px;

  margin: 18px;

  box-shadow: var(--box-shadow);
}

.title {
  width: auto;
  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--error);
  font-size: 24px;
  font-weight: bold;
  padding: 18px 0 0 18px;
}

.message {
  padding: 12px 18px 18px 18px;
}

.buttons {
  border-top: 1px solid var(--gray-l);
  display: flex;
  width: 100%;

  overflow: hidden;
}

.button {
  width: 100%;
  padding: 14px;

  background: #fff;
  border: none;
  color: var(--gray-d);

  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:first-child {
  border-bottom-left-radius: 8px;
}
.button:last-child {
  border-bottom-right-radius: 8px;
}

.button:hover {
  background-color: var(--gray-l);
}
