.participantList {
  margin-bottom: 30px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000;
  font-weight: bold;
}

.participantTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.participantTable th,
.participantTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.participantTable th {
  background-color: #f1f1f1;
  font-weight: 600;
  color: #555;
}

.participantTable td {
  color: #666;
}

.participantTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.participantTable tr:hover {
  background-color: #f1f7ff;
}

.viewButtonCell {
  text-align: center;
  padding: 0;
}

.viewButton {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #0070f3;
  text-decoration: none;
  font-weight: 600;
}

.viewButton:hover {
  color: #0056b3;
}

.viewButton svg {
  font-size: 14px;
}
