.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 23px;
  font-weight: bold;
  text-align: left;
  box-shadow: -6px 0px 0px 0px rgb(255, 213, 33);
  position: relative;
}

.sectionHeader::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ddd;
}

.collapseButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.collapseButton:hover {
  color: #555;
}
