.layout {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.content {
  margin-top: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  max-width: var(--max-width);
}
