.container {
  width: auto;

  padding: 12px;
  margin: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;

  background-color: #fff;
  border-radius: 8px;
}

.field {
  width: 100%;
  height: auto;
}

.description {
  display: block;
  padding-bottom: 8px;
  color: var(--gray-md);
}

.hr {
  width: 100%;
  margin: 12px;
  border: none;
  height: 1px;
  background-color: var(--gray-ml);
}

.cool {
  width: 100%;
  padding: 16px 0;
  text-align: right;
  color: var(--gray);
}

.cool a {
  text-decoration: none;
  color: var(--primary-alt);
}

.submit {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  width: 100%;
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--error);
}

.rewards {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  column-gap: 4px;
}

.rewardItem {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray);
  padding: 8px;
  border-radius: 4px;
  margin-top: 4px;
  background-color: var(--gray-l);
}

.rewardItem span:last-child {
  margin-left: 4px;
  font-size: 14px;
  color: var(--gray-md);
}
