.tocContainer {
  box-sizing: border-box;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  max-width: 700px;
  margin: 12px auto;
}

.summary {
  font-size: 18px;
  color: var(--gray-d);
  padding: 12px 0;
  border-bottom: 1px dashed var(--gray);
}

.sectionTitle {
  font-size: 18px;
  color: var(--gray-d);
}

.fieldList {
  list-style-type: none;
  padding-left: 12px;
}

.fieldItem {
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  color: var(--gray-md);
  padding: 3px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
