.heads {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 18px;
  background-color: #fff;
}

.thumbnail {
  border-radius: 8px;
  overflow: hidden;
}

.title,
.description {
  max-width: 720px;
  text-align: center;
}

.description {
  width: 100%;
  text-align: justify;
  line-height: 22px;
  border: none;
  outline: none;
  resize: none;
  color: var(--gray-d);
  margin-bottom: 10px;
}

.shareButton {
  display: flex;
  gap: 4px;
  color: var(--gray-d);
  padding: 8px 12px;
  border-radius: 4px;
  background-color: var(--gray-l);
  border: none; /* new */
  cursor: pointer; /* new */
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.shareButton:hover {
  background-color: var(--gray-ml);
}
