.container {
  width: 100%;

  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
}

.heading {
  width: 100%;
  font-size: 14px;
  padding: 8px 0 8px 12px;
}

.content {
  width: 100%;
  display: grid;
  padding: 0;
}

.section {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px;

  text-align: left;

  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section > div {
  overflow-wrap: anywhere;
}

.title {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  padding: 4px 0;
}

.description {
  font-size: 14px;
  color: var(--gray-d);
  padding: 4px 0;
}

/* highlight */

.heading {
  background-color: #dddddd;
}

.section {
  background-color: #fdfdfd;
}

.section:hover {
  background-color: #f0f0f0;
}

.container.MODIFIED {
  .heading {
    background-color: #ffd374;
  }

  .section:last-child {
    background-color: #fffacd;
  }

  .section:last-child:hover {
    background-color: #fff8bc;
  }
}

.container.DELETED {
  .heading {
    background-color: #ffabab;
  }

  .section:last-child {
    background-color: #ffecec;
  }

  .section:last-child:hover {
    background-color: #ffe1e1;
  }
}
