.input {
  height: 20px;
  padding-left: 4px;
  width: 50%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--gray);
  font-size: 14px;
  color: var(--gray);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
