.group {
  width: 100%;
  margin-bottom: 16px;
}

.label {
  width: 100%;
  font-size: 14px;
  color: #333;
  margin-bottom: 6px;
  display: block;
}

.description {
  font-size: 14px;
  padding-bottom: 4px;
}

.recommendedGroup {
  padding-top: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 4px;
}

.recommended {
  background-color: var(--secondary);
  border: none;
  padding: 6px;
  width: 48px;
}

.submit {
  padding-top: 24px;
  text-align: center;
}

.input,
.displayBtn {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  text-align: left;
}

.displayBtn {
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.displayBtn:hover {
  background-color: var(--gray-l);
}

.label span {
  display: block;
  margin-bottom: 4px;
}
