.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;
  border: none;
  border-radius: 4px;
  padding: 10px 12px;
  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  user-select: none;
  transition: background-color 0.1s ease;
}

.primary {
  background-color: var(--primary);
}

.primary:hover:not(:disabled) {
  background-color: var(--primary-alt);
}

.secondary {
  background-color: var(--secondary);
}

.secondary:hover(:disabled) {
  background-color: var(--secondary-alt);
}
