.question {
  padding: 24px 12px;
  background-color: #fff;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
}

.head {
  font-size: 18px;
  line-height: 1.1;
}

.required {
  display: inline-block;
  width: auto;
  height: auto;
  overflow: hidden;
  vertical-align: bottom;
  text-align: center;

  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;

  padding: 2px 4px;
  margin-right: 4px;
  border-radius: 4px;
  background-color: var(--primary-alt);

  transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.required.complete {
  opacity: 0.4;
}

@keyframes notify {
  0% {
    background-color: var(--primary-alt);
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(-5deg) scale(1.1);
  }
  20% {
    transform: rotate(5deg) scale(1.2);
  }
  25% {
    transform: scale(1.25);
  }
  30% {
    transform: rotate(-5deg) scale(1.2);
  }
  40% {
    transform: rotate(5deg) scale(1.2);
  }
  50% {
    background-color: var(--error);
    transform: rotate(-5deg) scale(1.25);
  }
  60% {
    transform: rotate(5deg) scale(1.2);
  }
  70% {
    transform: rotate(-5deg) scale(1.2);
  }
  75% {
    transform: scale(1.2);
  }
  80% {
    transform: rotate(5deg) scale(1.15);
  }
  90% {
    transform: rotate(-5deg) scale(1.1);
  }
  100% {
    background-color: var(--primary-alt);
    transform: rotate(0deg) scale(1);
  }
}

.required.animate {
  animation: notify 0.5s linear;
}

.title {
  word-break: break-all;
  overflow-wrap: anywhere;
}

.description {
  font-size: 14px;
  color: var(--gray-d);
  word-break: break-all;
  overflow-wrap: anywhere;
}

@media screen and (min-width: 768px) {
  .question {
    padding: 24px;
  }
}
