.checkboxLabel {
  display: flex;
  align-items: center;
  line-height: 16px;
}

.checkbox {
  margin-right: 10px;
  line-height: 16px;
}

.description {
  font-size: 14px;
  color: #333;
  padding-top: 12px;
}
