.container {
  width: auto;
  padding: 12px;
  margin: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;

  background-color: #fff;
  border-radius: 8px;
}

.field {
  width: 100%;
}

.description {
  display: block;
  padding-bottom: 8px;
  color: var(--gray-md);
}

.hr {
  width: 100%;
  margin: 12px 12px;
  border: none;
  height: 1px;
  background-color: var(--gray-ml);
}

.cool {
  width: 100%;
  padding: 16px 0;
  text-align: right;
  color: var(--gray);
}

.cool a {
  text-decoration: none;
  color: var(--primary-alt);
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;
  min-width: 360px;
}

.error {
  width: fit-content;
  background-color: hsl(0, 100%, 93%);
  padding: 12px;
  margin-bottom: 12px;
}
