@import 'normalize.css';

:root {
  --container-width: 1080px;

  --gray-l: #f3f4f6; /* Light gray */
  --gray-ml: #e5e7eb; /* Medium light gray */
  --gray: #9ca3af; /* Medium gray */
  --gray-md: #6b7280; /* Medium dark gray */
  --gray-d: #374151; /* Dark gray */

  width: 100%;
  min-width: 320px;

  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}
