@import 'normalize.css';

html,
body {
  background-color: var(--background);
}

:root {
  --container-width: 1080px;

  --gray-l: #f3f4f6; /* Light gray */
  --gray-ml: #e5e7eb; /* Medium light gray */
  --gray: #9ca3af; /* Medium gray */
  --gray-md: #6b7280; /* Medium dark gray */
  --gray-d: #374151; /* Dark gray */

  --primary: #ffbc49;
  --primary-alt: #ffa347;
  --secondary: #e8dfd0;
  --secondary-alt: #ead7bf;
  --background: #f8f8f8;

  width: 100%;
  min-width: 320px;

  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}
