.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(84px, calc(50vw - 390px)) 1fr;
  align-items: center;
  justify-content: center;
}

.container > div:first-child {
  justify-self: flex-end;
}
.container > div:last-child {
  justify-self: flex-start;
}
