.container {
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 12px;
}

.container div,
.container label,
.container input,
.container textarea {
  box-sizing: border-box;
}

.groupInfo span {
  color: var(--gray-md);
}

.group {
  width: 100%;
  margin-bottom: 16px;
}

.label {
  width: 100%;
  font-size: 14px;
  color: #333;
  margin-bottom: 6px;
  display: block;
}

.label span {
  display: block;
  margin-bottom: 4px;
}

.input,
.textarea,
.select,
.inputFile {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

.input:focus,
.textarea:focus,
.inputFile:focus {
  border-color: var(--primary);
  outline: none;
  box-shadow: 0 0 5px var(--primary);
}

.textarea {
  resize: vertical;
  min-height: 80px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.checkbox {
  margin-right: 10px;
}
