.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin-top: 108px;

  box-sizing: border-box;
  padding-left: calc((100vw - 1366px) / 2);

  background-color: #f3f3f3;
}

.container {
  position: relative;
  width: 100%;

  display: grid;
  grid-template-columns: 96px 1fr;
}

@media screen and (max-width: 429px) {
  .container {
    grid-template-columns: 52px 1fr;
  }
}

.getStarted {
  width: 100%;
  min-height: calc(100vh - 108px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.isEmpty {
  padding: 16px 0;
  color: var(--gray-d);
}

.getStarted .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.getStarted button {
  width: 200px;
  height: 64px;

  color: var(--gray-d);

  border-radius: 4px;
  border: none;
  background-color: var(--gray-ml);
  cursor: pointer;
  transition:
    background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.getStarted button:hover {
  background-color: var(--gray);
  color: #fff;
}
