/* Section.module.css */

.dragHandle {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the draggable section container */
.sectionContainer {
  transition: background-color 0.1s ease-in-out; /* Transition for hover effect */
  width: 100%;
  padding: 12px;
  padding-top: 0;
  max-width: 768px;
}

/* Style for the section header */
.sectionHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; /* Space below the header */
}

/* Style for the section title */
.sectionTitle {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem; /* Larger font size for the title */
  padding: 4px 0;
  font-weight: bold;
  color: #333; /* Darker color for the title */
  margin: 0; /* Remove default margin */
  border-bottom: 1px solid transparent;
}

.sectionTitle:hover {
  border-bottom: 1px solid #5f6368;
}

/* Style for the section description */
.sectionDescription {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  color: #666; /* Grey color for the description */
  margin-top: 0.5rem; /* Space above the description */
  border-bottom: 1px solid transparent;
}

.sectionDescription:hover {
  border-bottom: 1px solid #5f6368;
}

/* Style for the fields container */
.fieldsContainer {
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.2s ease-in-out; /* Transition for hover effect */
}

/* Style for the list of fields */
.fieldsList {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
  min-height: 32px;
}

.emptyList {
  text-align: center;
  padding: 8px 0;
  background-color: rgba(0, 0, 0, 0.05);
}

/* Hover effect for section */
.sectionContainer:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Slightly darker on hover */
}
