.container {
  box-sizing: border-box;
  background-color: var(--gray-l);
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 12px;
  margin: auto;
  box-sizing: border-box;
  max-width: var(--container-width);
  border-bottom: 1px solid #9ca3af;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.tabSwitch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.tabSwitch button {
  padding: 8px 0;
  width: 80px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 4px;
  color: var(--gray-d);
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tabSwitch button:hover {
  background-color: var(--gray-ml);
  cursor: pointer;
}

.tabSwitch button:disabled {
  background-color: var(--gray);
  cursor: text;
  color: #fff;
  font-weight: 500;
}

.right button {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.right button:hover {
  background-color: var(--gray-ml);
}

.body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 12px;
  max-height: calc(100vh - 71px);
  display: grid;
  grid-template-rows: 1fr auto;
}

.previewWrapper {
  min-height: 240px;
  max-height: calc(100vh - 71px - 240px);
  overflow-y: auto;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.previewWrapper:hover {
  background-color: #f9f9f9;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

.preview {
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  padding: 0 12px;
  max-width: var(--container-width);
}

.preview h3 {
  margin-bottom: 0;
}

.preview p {
  color: var(--gray-md);
  font-size: 14px;
}

.placeholder {
  height: 120px;
}
