/* Wrapper for the entire component */

.container {
  margin: auto;
  box-sizing: border-box;
  padding: 0 12px;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 12px;
  width: 100%;
  max-width: var(--container-width);
  border-bottom: 1px solid #9ca3af;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.tabSwitch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.tabSwitch button {
  padding: 8px 0;
  width: 80px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 4px;
  color: var(--gray-d);
}

.tabSwitch button:hover {
  background-color: var(--gray-ml);
  cursor: pointer;
}

.tabSwitch button:disabled {
  background-color: var(--gray);
  cursor: text;
  color: #fff;
  font-weight: 500;
}

.right button {
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.right button:hover {
  background-color: var(--gray-ml);
}

.body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 12px;
}

.body {
  height: calc(100vh - 71px);

  display: grid;
  grid-template-rows: 1fr auto;
}
