.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation: appear 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatbox {
  width: 100%;
  max-width: var(--container-width);
  margin: 48px 12px;
  padding: 24px;
  box-sizing: border-box;
}

.chatboxInnerWrapper {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 24px;
  display: grid;
  grid-template-columns: 1fr 48px;
  width: 100%;
  min-height: 48px;
  padding: 16px 0 10px 20px;
  box-sizing: border-box;
}

.textarea {
  border: none;
  background-color: #fff;
  text-align: left;
  border: 1px solid transparent;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  resize: none;
  outline: none;
  line-height: 22px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #fff;
  border-radius: 0 24px 24px 0;
  height: 100%;
}

.submit {
  background-color: var(--gray-md);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  border: none;
}

.submit:hover {
  background-color: var(--gray-d);
}

@keyframes appear {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.description {
  padding: 12px 20px;
  color: #fff;
  font-weight: 500;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 12px 20px;
}

.actions button {
  color: #fff;
  background-color: transparent;
  padding: 4px 8px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 4px;
}

.actions button:hover {
  /* border: 1px solid #fff; */
  background-color: rgba(255, 255, 255, 0.2);
}
