.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #fff;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container:hover {
  background-color: var(--gray-l);
}

.inputDesc > div:nth-child(2) {
  padding: 4px 0;
  font-size: 12px;
  color: var(--gray);
}

.title,
.description {
  border: none;
  outline: none;
  padding: 8px;
  background-color: transparent;

  transition: background-color 0.3s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.title:hover,
.description:hover {
  background-color: #fff;
}

.title {
  font-size: 24px;
}
