.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 24px 18px;
}

.container {
  width: 100%;
  max-width: 720px;
}

.from {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px;
  font-size: 18px;
}

.message {
  width: 100%;
  display: flex;
  text-align: justify;
  line-height: 22px;
  outline: none;
  resize: none;
  color: var(--gray-d);
  padding: 12px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid var(--primary);
  box-sizing: border-box;
}

.submitArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.back {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: transparent;
  border-color: transparent;
  padding: 8px;
  color: var(--gray-md);
  cursor: pointer;
}

.back:hover {
  text-decoration: underline;
}
