.toolbar {
  width: 200px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  margin-left: 8px;

  box-sizing: border-box;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  overflow-y: auto;
  position: absolute;
}

.tools {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.tool,
.placeholder {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  height: 52px;
  gap: 8px;
  display: flex;
  align-items: center;
  /* background-color: var(--gray-l); */
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: var(--gray-d);
  border: none;
  background-color: transparent;
}

.tool:hover {
  background-color: var(--gray-ml);
}

.title {
  font-size: large;
  font-weight: 500;
  padding: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--gray);
}

@media screen and (max-width: 429px) {
  .title {
    display: none;
  }

  .toolbar {
    width: 42px;
  }

  .name {
    display: none;
  }

  .tool,
  .placeholder {
    justify-content: center;
  }
}

@media screen and (max-width: 999px) and (min-width: 430px) {
  .toolbar {
    width: 76px;
  }

  .title {
    font-size: 14px;
    font-weight: 400;
  }

  .name {
    display: none;
  }

  .tool,
  .placeholder {
    justify-content: center;
  }
}

@media screen and (max-width: 1049px) and (min-width: 1000px) {
  .toolbar {
    width: 140px;
  }
}

@media screen and (max-width: 1209px) and (min-width: 1050px) {
  .toolbar {
    width: 160px;
  }
}
