.promotion {
  width: 100%;
  max-width: 640px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  padding: 18px;
  box-sizing: border-box;
  border-top: 2px dashed var(--gray-ml);
}

.title {
  font-size: 18px;
  margin: 24px 0;
}

.login {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
}

.login:hover {
  color: var(--primary-alt);
  text-decoration: underline;
}

.preview {
  position: relative;
}

.previewWrapper {
  user-select: none;
  pointer-events: none;
}

.chatWrapper {
  position: absolute;
  bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.chat {
  box-shadow: var(--box-shadow);
  padding: 12px 18px;

  border-radius: 24px;
  width: fit-content;
  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.chat > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.chat > div:last-child {
  padding-top: 4px;
  font-size: 12px;
  color: var(--gray-md);
}

.chat:hover {
  background-color: #fff;
  transform: scale(1.2);
}

.section {
  padding-top: 8px;
}

.section h4 {
  color: var(--gray-d);
}

.section p {
  color: var(--gray-md);
}
